<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
  		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!--
    If we are using annotations, we need to add context:annotation-config element in spring bean configuration file to
    let the spring application know about these annotations
    -->
    <context:annotation-config/>

    <bean id="album" class="com.springcourse.learnspring.beanlifecycle.steps.Album">
        <property name="albumName" value="Paradise Lost"/>
    </bean>

    <!-- This post-processor methods are called for every bean -->
    <bean class="com.springcourse.learnspring.beanlifecycle.steps.MyBeanPostProcessor"/>

    <bean id="beanNameAwareInterfaceExample" class="com.springcourse.learnspring.beanlifecycle.steps.beannameaware.BeanNameAwareInterfaceExample" />

    <bean id="albumService" class="com.springcourse.learnspring.beanlifecycle.steps.AlbumService">
        <property name="album" ref="album"/>
    </bean>

</beans>